@model IEnumerable<ASGay_Portfolio.Models.BlogPost>



@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog - ASGay Portfolio</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/apple-touch-icon-114x114.png">
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Suranna" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS-->
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icon Fonts-->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/themify-icons.css" rel="stylesheet">
    <!-- Plugins-->
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/css/vertical.min.css" rel="stylesheet">
    <!-- Template core CSS-->
    <link href="~/assets/css/template.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>

    <!-- Preloader-->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- Preloader end-->
    <!-- Menu-->
    <div class="overlay-menu overlay-menu-animation font-serif">
        <a class="close-menu" href="#"><span class="ti-close"></span></a>
        <div class="menu-table">
            <div class="menu-table-cell">
                <ul class="navigation">
                    <li class="menu-item-has-children">
                        <a href="~/index.html">Home</a>
                        <ul class="sub-menu">
                          
                        </ul>
                    </li>
                    <li><a href="~/about.html">About</a></li>
                    <li class="menu-item-has-children">
                        <a href="~/portfolio.html">Portfolio</a>
                        <ul class="sub-menu">
                          
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "BlogPosts")">Blog</a>
                        <ul class="sub-menu">
                            
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="FinancialPlanner/Home">Financial Planner</a>
                        <ul class="sub-menu"></ul>
                    </li>
                    <li><a href="~/contact.html">Contact</a></li>
                    
               
                </ul>
            </div>
        </div>
    </div>
    <!-- Menu end-->
    <!-- Header-->
    <header class="header">
        <div class="container">
            <div class="inner-header">
                <a class="inner-brand" href="~/index.html">
                    Home
                
                </a>
            </div>
            <div class="header-nav-toogle">
                <a class="show-menu-btn" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </header>
    <!-- Header end--> 

        <div class="wrapper">             
        <section class="module-header parallax bg-dark" data-background="../NEWIMAGES/blog3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="font-serif">Pending Posts</h1>
                        <p>A blog about technology, life, and travels.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <!-- Content-->                 

                    <div class="col-sm-8 well">

                        <!-- Post-->
                        <p>
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                      
                            <h2 style="font-variant:small-caps">PendingPosts</h2><br />
                        
                        @foreach (var item in Model)
                        {



                            <article class="post">
                                <div class="post-preview"><a href="#"><img src="@Url.Content(item.MediaURL)" alt=""></a></div>
                                <div class="post-header">
                                    <h2 class="post-title"><a href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        <div class="pull-right" style="padding-right:50px">

                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                                            @Html.ActionLink("Details", "Details", new { Slug = item.Slug })<br />
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br />
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-md-8">
                                            <ul class="post-meta">
                                                <li>@Html.DisplayFor(modelItem => item.createdDate)</li>
                                                <li>
                                                    <a href="#">
                                                        <p>
                                                            @foreach (var topics in item.Topics)
                                                            {

                                                                @Html.DisplayFor(modelItem => topics.TopicName)<span>&nbsp;</span>

                                                            }
                                                        </p>
                                                    </a>
                                                </li>

                                                <li><a href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })">@Html.DisplayFor(modelItem => item.Comments.Count) Comments</a></li>
                                                                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-content">
                                   

                                    <p>@Html.Raw(item.Body)</p>
                                
                                </div>
                                <div class="post-more"><a href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })">Read More →</a></div>
                            </article>

                          
                                if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                {

                                @Html.ActionLink("PUBLISH", "PublishPending", new { PendingPostId = item.Id })<br /><hr style="height:2px;border:none;color:#333;background-color:#808080;" />
                            }


                        }
                        <!-- Post end-->
                        <!-- Post-->
                      
                        <!-- Post end-->
                        <!-- Pagination-->
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="pagination">                                  
                                </ul>
                            </div>
                        </div>
                        <!-- Pagination end-->
                    </div>
                    <!-- Content end-->
                    <!-- Sidebar-->
                    <div class="col-sm-4">
                        <div class="sidebar">
                            <!-- Search widget-->
                        
                            <div class="well">
                                @{Html.RenderAction("BlogPartialUpper", "BlogPosts"); }
                            </div>
                            <div class="well">
                                @{Html.RenderAction("BlogPartialMid", "BlogPosts");}
                            </div>
                            <div class="well" style="height:100%">
                                @{Html.RenderAction("BlogPartialLower", "BlogPosts"); }
                            </div>
                    <!-- Sidebar end-->
                </div>
            </div>
        </section>
        <!-- Classic blog end-->
        <!-- Footer-->
        <footer class="footer parallax" data-background="../NEWIMAGES/blog4.jpg">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!--<p class="copyright">© 2016 <a href="#">Broke.</a> All rights reserved. Design with love by <a href="http://2the.me/">2theme</a></p>-->
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end-->
    </div>

    <!-- Scripts-->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
</body>
</html>