@model ASGay_Portfolio.Areas.Blog.Models.BlogPost
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}





@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AGay - Blog</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/apple-touch-icon-114x114.png">
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Suranna" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS-->
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icon Fonts-->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/themify-icons.css" rel="stylesheet">
    <!-- Plugins-->
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/css/vertical.min.css" rel="stylesheet">
    <!-- Template core CSS-->
    <link href="~/assets/css/template.css" rel="stylesheet">
</head>
<body>
    <!-- Preloader-->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- Preloader end-->
    <!-- Menu-->
    <div class="overlay-menu overlay-menu-animation font-serif">
        <a class="close-menu" href="#"><span class="ti-close"></span></a>
        <div class="menu-table">
            <div class="menu-table-cell">
                <ul class="navigation">
                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
                        @*<a href="Home">Home</a>*@
                        <ul class="sub-menu"></ul>
                    </li>

                    <li><a href="@Url.Action("Index", "Home", new { area = "About" })">About Me</a></li>
                    <li class="menu-item-has-children">

                        <a style="color:lime" href="@Url.Action("Index", "Home", new { area = "Portfolio" })">Portfolio</a>
                        @*<a style="color:lime" href="Portfolio/Home">Portfolio</a>*@

                        @*@if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "", Application = "Portfolio" }, FormMethod.Post, new { id = "logoutForm5" }))
                    {
                        @Html.AntiForgeryToken()
                        <a style="color:lime" href="javascript:document.getElementById('logoutForm4').submit()">Portfolio</a>
                    }
                }
                else
                {
                    <a style="color:lime" href="Portfolio/Home">Portfolio</a>

                }*@



                        <ul class="sub-menu">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", new { area = "", Application = "Portfolio" }, FormMethod.Post, new { id = "logoutForm4" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><a style="font-family:Roboto,Arial, serif; font-size:12px; opacity: .8" href="javascript:document.getElementById('logoutForm4').submit()">Portfolio Home</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Home", new { area = "Portfolio" })">Portfolio Home</a></li>
                                @*<li><a href="Portfolio/Home">Portfolio Home</a></li>*@

                            }



                            <li><a href="@Url.Action("Index", "BlogPosts", new { area = "Blog" })">Blog</a></li>

                            @*@if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", new { area = "", Application = "Blog" }, FormMethod.Post, new { id = "logoutForm1" }))
                        {
                            @Html.AntiForgeryToken()
                            <li><a style="font-family:Roboto,Arial, serif; font-size:12px; opacity: .8" href="javascript:document.getElementById('logoutForm1').submit()">Blog</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "BlogPosts", new { area = "Blog" })">Blog</a></li>
                        @*<li><a href="Blog/BlogPosts/Index">Blog</a></li>
                    }*@


                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", new { area = "", Application = "FinancialPlanner" }, FormMethod.Post, new { id = "logoutForm2" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><a style="font-family:Roboto,Arial, serif; font-size:12px; opacity: .8" href="javascript:document.getElementById('logoutForm2').submit()">Financial Planner</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Home", new { area = "FinancialPlanner" })">Financial Planner</a></li>
                                @*<li><a href="FinancialPlanner/Home">Financial Planner</a></li>*@
                            }
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", new { area = "", Application = "BugTracker" }, FormMethod.Post, new { id = "logoutForm3" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><a style="font-family:Roboto,Arial, serif; font-size:12px; opacity: .8" href="javascript:document.getElementById('logoutForm3').submit()">Bug Tracker</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Home", new { area = "BugTracker" })">Bug Tracker</a></li>
                                @*<li><a href="BugTracker/Home">Bug Tracker</a></li>*@
                            }
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "Contact" })">Contact</a></li>
                    @*<li><a href="Contact/Home">Contact</a></li>*@
                </ul><br />
                @*<ul class="navigation">
                    <li class="menu-item-has-children">
                        <a href="~/index.html">Home</a>

                    </li>
                    <li><a href="~/about.html">About</a></li>
                    <li class="menu-item-has-children">
                        <a href="~/portfolio.html">Portfolio</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "BlogPosts")">Blog</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="FinancialPlanner/Home">Financial Planner</a>
                        <ul class="sub-menu"></ul>
                    </li>
                    <li><a href="~/contact.html">Contact</a></li>
                </ul>*@
            </div>
        </div>
    </div>
    <!-- Menu end-->
    <!-- Header-->
    <header class="header">
        <div class="container">
            <div class="inner-header">
                <a class="inner-brand" href="~/index.html">
                    Home
                    <!--<img class="brand-dark" src="assets/images/logo.png" width="80" alt="">
                    <img class="brand-light" src="assets/images/logo-light.png" width="80" alt="">-->
                </a>
            </div>
            <div class="header-nav-toogle">
                <a class="show-menu-btn" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </header>
    <!-- Header end-->
    <div class="wrapper">
        <!-- Page Header-->
        @*<img src="~/NEWIMAGES/3af94368-cdab-4157-b48d-d8aa32010bc6campgrandesingabb_2017011985447.jpg" />*@
        @*<section class="module-header parallax bg-dark" data-background="../NEWIMAGES/3af94368-cdab-4157-b48d-d8aa32010bc6campgrandesingabb_2017011985447.jpg">*@
        @*<section class="module-header parallax bg-dark" data-background="../NEWIMAGES/8a76a255-530f-4590-9517-490d69b690fbIMG_3513.jpg">*@
        @*../NEWIMAGES/8a76a255-530f-4590-9517-490d69b690fbIMG_3513 (3).JPG*@

        <section class="module-header parallax bg-dark" data-background="@Url.Content(Model.MediaURL)" alt="">
            @*<div class="post-preview"><a href="#"><img src="@Url.Content(Model.MediaURL)" alt=""></a></div>*@
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="font-serif m-b-10"> @Html.DisplayFor(model => model.Title) </h1>
                        <ul class="post-meta">
                            <li>@Html.DisplayFor(model => model.createdDate) </ li >
                            <li>
                                <a href="#">
                                    @foreach (var topics in Model.Topics.Take(3))
                                    {
                                        @Html.DisplayFor(modelItem => topics.TopicName)<span>&nbsp;</span>
                                    }
                                </a>
                            </li>

                            <li><a href="#comments">@Model.Comments.Count Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header end-->
        <!-- Single post-->
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 well">
                        <!-- Post-->
                        <article class="post">
                            <div class="post-content">


                                @*<p><img src="~/assets/images/blog/1.jpg" alt=""></p>*@<span class="ti-marker-alt"></span>
                                <h4> @Html.DisplayFor(model => model.Title)</h4>@Html.DisplayFor(model => model.createdDate)<br /><br />


                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                {
                                    @Html.ActionLink("Edit Post", "Edit", new { id = Model.Id })<br />

                                        @Html.ActionLink("Delete Post", "Delete", new { id = Model.Id })<br /><br />
                                }
                                <p>@Html.Raw(Model.Body)</p>

                            </div>
                            <div class="post-footer">

                                <div class="post-tags">
                                    @foreach (var topics in Model.Topics)
                                    {
                                        <a href="@Url.Action("Details", "Topics", new { id = topics.Id })">@Html.DisplayFor(modelItem => topics.TopicName)</a>
                                    }

                                </div>
                            </div>
                        </article>
                        <!-- Post end-->
                        <!-- Comments area-->
                        <div class="comments-area">


                            @if (@Model.Published == false)
                            {
                                @Html.ActionLink("PUBLISH", "PublishPending", new { PendingPostId = Model.Id })<br />

                            }
                            <hr style="height:2px;border:none;color:#333;background-color:#a19f9f;" />
                            <h5 class="comments-title">@Model.Comments.Count Comments </h5>

                            <div class="comment-list">
                                <!-- Comment-->

                                @foreach (var comment in Model.Comments)
                                {
                                    <div class="comment" id="comments">
                                        <div class="comment-author"><img class="avatar" src="~/assets/images/avatar/1.jpg" alt=""></div>
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author"><a href="#"><p>@comment.Commenter.FirstName</a></div>
                                                <div class="comment-meta-date">
                                                    <a href="#">
                                                        @*<time datetime="1914-12-20">@comment.createdDate</time>*@
                                                        <time datetime="2015-05-05T04:51:41+00:00">@comment.createdDate); </time>
                                                        @*<p>@comment.createdDate.ToString("dd-MM-yyy"); </p>*@
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <span>@Html.Raw(comment.Body)</span>
                                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                                {
                                                    <div class="row">
                                                        <div class="col-md-9"></div>
                                                        <div class="col-md-3">
                                                            <span>@Html.ActionLink("Edit Comment", "EditComment", new { id = comment.Id })</span>
                                                            <span>@Html.ActionLink("Delete Comment", "DeleteComment", new { id = comment.Id }) </span><br />
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                            @*<input class="form-control" type="search" placeholder="Hit enter search...">
                                                <button class="search-button" type="submit"><span class="ti-basketball"></span></button>*@

                                            @if (Request.IsAuthenticated)
                                            {
                                                using (Html.BeginForm("CommentReply", "Comments", new { CommentId = comment.Id }, FormMethod.Post, null))
                                                {
                                                    <input name="Body" type="text" class="form-control" placeholder="reply to comment" />
                                                        <button class="search-button" type="submit"><span class="ti-basketball"></span></button>
                                                        @*<input class="btn btn-brand" type="submit" value="Reply" />*@
                                                }
                                            }


                                        </div>
                                        @foreach (var reply in comment.Replies)
                                        {


                                        <!-- Subcomment-->
                                            <div class="children">
                                                <div class="comment">
                                                    <div class="comment-author"><img class="avatar" src="~/assets/images/avatar/2.jpg" alt=""></div>
                                                    <div class="comment-body">
                                                        <div class="comment-meta">

                                                            <div class="comment-meta-author"><a href="#">@reply.Replier.FirstName</a></div>
                                                            <div class="comment-meta-date">
                                                                <a href="#">
                                                                    <time datetime="2015-05-05T04:51:41+00:00">@reply.createdDate</time>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="comment-content">
                                                            <span>@reply.Body</span>
                                                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                                            {
                                                                <div class="row">
                                                                    <div class="col-md-9"></div>
                                                                    <div class="col-md-3">
                                                                        <span>@Html.ActionLink("Edit Reply", "EditReply", new { id = reply.Id })</span>
                                                                        <span>@Html.ActionLink("Delete Reply", "DeleteReply", new { id = reply.Id }) </span><br />
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                <!-- Comment-->

                            </div>
                            @if (Request.IsAuthenticated)
                            {
                                <h4>Leave a comment</h4>
                                using (Html.BeginForm("CreateComment", "Comments", new { PostId = Model.Id }, FormMethod.Post, null))
                                {  // use comment controller?
                                    @*<input type="hidden" name="PostId" value="@Model.Id"/>*@  // replaced this with the new post id = model.id above
                                                                                                    @Html.AntiForgeryToken()
                                                                                                    <div class="form-group col-sm-12">
                                                                                                        <textarea class="form-control" rows="8" placeholder="Comment *" name="Body"></textarea>
                                                                                                        <input class="btn btn-brand" type="submit" value="Post Comment">
                                                                                                    </div>

                                }
                            }
                            else
                            {

                                <p style="font-variant:small-caps">@Html.ActionLink("Login to Add Comments", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p><br /><br />
                            }

                            @Html.ActionLink("Back to List", "Index")








                        </div>
                        <!-- Comments area end-->
                    </div>
                    <!-- Sidebar-->



                    <div class="col-sm-4">
                        <div class="sidebar">







                            <div class="well">@{Html.RenderAction("BlogPartialUpper", "BlogPosts"); }</div>
                            <div class="well">@{Html.RenderAction("BlogPartialMid", "BlogPosts");}</div>

                            <div class="well">@{Html.RenderAction("BlogPartialLower", "BlogPosts"); }</div>
                            <div class="well">@{Html.RenderAction("BlogPartialLowLower", "BlogPosts");}</div>


                        </div>
                    </div>


                    <!-- Sidebar end-->
                </div>

            </div>
        </section>

        <!-- Single post end-->
        <!-- Footer-->
        <footer class="footer parallax" data-background="@Url.Content(Model.MediaURL)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="social-list m-b-40"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end-->
    </div>
    <!-- Scripts-->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
</body>
</html>